@import url('https://fonts.googleapis.com/css2?family=Yellowtail&family=Inter:wght@400;600;800&display=swap');

body {
	font-family: Inter;
	font-size: 16px;
	width: 100%;
}
header {
	display: flex;
	height: 80px;
	background-color: #1B98E0;
	color: white;
	align-items: center;
}
main {
	display: flex;
	flex-direction: column;
	background-color: white;
}
footer {
	height: 100px;
	background-color: #13293D;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer p {
	margin: 0;
}
.container {
	max-width: 1240px;
}
.logo {
	font-family: Yellowtail;
	margin: 0;
	font-size: 40px;
}
.logo > a:hover {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}
ul#nav > li {
	padding-left: 60px;
	display: inline;
}
nav {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	color: white;
}
h1 {
	font-size: 32px;
	font-weight: 800;
	color: #1b98e0;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
	font-weight: 800;
	color: #1b98e0;
	text-transform: uppercase;
}
#nav {
	list-style-type: none;
	display: inline;
	color: #fff;
	font-size: 16px;
	position: relative;
	text-align: right;
	margin: auto 0;
	justify-content: space-between;
}
#introduce {
	background-color: #fff;
}
#introduce > .container {
	background-image: url("./assets/introduce.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center right;
	display: flex;
	height: 458px;
	width: 100%;
	align-items: center;
}
#perk {
	height: 400px;
	background-color: #dee9fc;
	display: flex;
	align-items: center;
}
#perk > .container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#perk > .container > div {
	width: 294px;
	text-align: center;
}
#perk h2 {
	margin-top: 20px;
}
#feature {
	height: 247px;
	background-color: #fff;
	display: flex;
	align-items: center;
}
#feature > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
#feature > .container > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#feature a:hover {
	opacity: 0.7;
}
#sitemap {
	height: 300px;
	background-color: #006494;
	color: white;
	display: flex;
	align-items: center;
}
#sitemap h2 {
	color: white;
	margin-bottom: 40px;
}
#sitemap .logo {
	margin-top: -30px;
}
#sitemap > .container {
	display: flex;
	justify-content: space-between;
}
#sitemap ul {
	width: 253px;
	margin: 0;
}
#sitemap li {
	margin-left: 20px;
	line-height: 2;
}
#sitemap p {
	line-height: 2;
}
#about {
	height: 630px;
	padding-top: 60px;
}
#about > .container {
	display: flex;
	justify-content: space-between;
	background-image: url('./assets/about.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 100%;
}
#about > .container > div {
	width: 720px;
	margin-top: 40px;
}
#signin {
	height: 630px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#signin > .container {
	background-image: url('./assets/signin.png');
	background-repeat: no-repeat;
	background-position: right center;
	height: 100%;
	display: flex;
	align-items: center;
}
#signin > .container > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	text-align: center;
	padding: 0 40px;
}
#signin form {
	display: flex;
	flex-direction: column;
}
#signin form > * {
	margin: 5px 0;
}
.title {
	font-size: 128px;
	font-family: Yellowtail;
	color: #1B98E0;
}
.title-sm {
	font-size: 64px;
	font-family: Yellowtail;
	color: #1B98E0;
}
.more {
	width: 180px;
	height: 50px;
	border-radius: 8px;
	background-color: #1b98e0;
	color: white;
	border-style: none;
}
.more:hover {
	opacity: 0.7;
}
.bold {
	font-weight: 800;
}
.semi-bold {
	font-weight: 600;
}
.current {
	text-decoration: underline;
	font-weight: 600;
}
input#submit {
	background-color: #1b98e0;
	color: white;
	border-radius: 24px;
	border-style: none;
	height: 50px;
}
input#submit:hover {
	opacity: 0.7;
}
input.field {
	border-radius: 24px;
	border-style: none;
	background-color: #dee9fc;
	height: 50px;
	padding-left: 20px;
}