@import url('https://fonts.googleapis.com/css2?family=Yellowtail&family=Inter:wght@400;600;800&display=swap');

body {
	font-family: Inter;
	font-size: 16px;
}
header {
	display: flex;
	height: 80px;
	background-color: #1B98E0;
	color: white;
	align-items: center;
}
main {
	display: flex;
	height: 600px;
	background-color: white;
}
footer {
	height: 100px;
	background-color: #13293D;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p {
	margin: 0;
}
.container {
	max-width: 1440px;
}
.logo {
	font-family: Yellowtail;
	margin: 0;
	font-size: 40px;
}
ul#nav > li {
	padding-left: 60px;
	display: inline;
}
nav {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	color: white;
}
#nav {
	list-style-type: none;
	display: inline;
	color: #fff;
	font-size: 16px;
	position: relative;
	text-align: right;
	margin: auto 0;
	justify-content: space-between;
	font-weight: 600;
}
